# Port untuk server Express (default: 5000)
PORT=xxxx

# Secret key untuk JWT (wajib diganti dengan string acak yang sulit ditebak)
JWT_SECRET=rahasia_super_kuat_ganti_dengan_random_string

# mode = json | sqlite
DB_MODE=json

# hanya dipakai kalau DB_MODE=sqlite, disimpan di dalam folder DATA_DIR
DB_FILE=database.sqlite

# Kalau pakai mysql atau mariadb
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=isi_password
DB_NAME=nama_database_anda



# kalau pakai cloudinary
CLOUDINARY_CLOUD_NAME=xx
CLOUDINARY_API_KEY=xx
CLOUDINARY_API_SECRET=xx



# kalau pakai hostinger ftp
FTP_HOST=ftp://xxx
FTP_USER=xx
FTP_PASSWORD=xx
FTP_UPLOAD_DIR=/public_html/folder
PUBLIC_BASE_URL=https://domain/folder