# Port untuk server Express (default: 5000)
PORT=xxxx

# Secret key untuk JWT (wajib diganti dengan string acak yang sulit ditebak)
JWT_SECRET=rahasia_super_kuat_ganti_dengan_random_string

# mode = json | sqlite
DB_MODE=json

# hanya dipakai kalau DB_MODE=sqlite, disimpan di dalam folder DATA_DIR
DB_FILE=database.sqlite

# Kalau pakai mysql atau mariadb
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=isi_password
DB_NAME=nama_database_anda